{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<h1 class="text-center">Bidding History for {{ item.title }}</h1>  {# Use 'item' here #}

<div class="text-center">
    <ul class="mx-auto">
        {% if bids %}
            <ul>
                {% for bid in bids %}
                    <li class="{% if forloop.first %}text-green-600{% else %}text-red-600{% endif %}">
                        {{ bid.bidder.username }}: ${{ bid.amount }} on {{ bid.created_at }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <li>No bids available.</li>
        {% endif %}
    </ul>
</div>

{% if is_paginated %}
    <div class="pagination text-center mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock content %}
