django
python-decouple
celery
django-htmx
django-storages[s3]
django-redis==3.1.6
django-allauth[socialaccount]
django-debug-toolbar
pillow
psycopg2-binary
whitenoise
django-tailwind[reload]
django-debug-toolbar
django-allauth-ui
django-widget-tweaks
slippers
gunicorn
boto3
Celery
django-celery-beat 
django-celery-results
redis
flower
#django-channels - can be added for customer service chat
#will add django-defender